WORKBENCH_IMAGE=ghcr.io/thesyart/xiaodan-workbench-web@sha256:REPLACE_WITH_VERIFIED_DIGEST
WORKBENCH_PORT=3210
WORKBENCH_UID=1000
WORKBENCH_GID=1000
WORKBENCH_ENV_FILE=/etc/serverops/apps/xiaodan-workbench-web.env
WORKBENCH_DATA_DIR=/srv/serverops/data/xiaodan-workbench-web
